<a href="https://colab.research.google.com/github/kaladin123/flasktutorial/blob/master/part2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Segmenting and Clustering Neighbourhoods in Toronto

Importing libraries

In [1]:
import pandas as pd
import numpy as np
import requests

Get the HTML page of Wiki, and using read_html we convert the html data into list of Data frame objects.

Remove cells which have borrow not assigned.

In [2]:
from bs4 import BeautifulSoup
source = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup=BeautifulSoup(source,'lxml')
table_contents=[]
table=soup.find('table')
for row in table.findAll('td'):
    cell = {}
    if row.span.text=='Not assigned':
        pass
    else:
        cell['Postal Code'] = row.p.text[:3]
        cell['Borough'] = (row.span.text).split('(')[0]
        cell['Neighborhood'] = (((((row.span.text).split('(')[1]).strip(')')).replace(' /',',')).replace(')',' ')).strip(' ')
        table_contents.append(cell)

# print(table_contents)
df=pd.DataFrame(table_contents)
df['Borough']=df['Borough'].replace({'Downtown TorontoStn A PO Boxes25 The Esplanade':'Downtown Toronto Stn A',
                                             'East TorontoBusiness reply mail Processing Centre969 Eastern':'East Toronto Business',
                                             'EtobicokeNorthwest':'Etobicoke Northwest','East YorkEast Toronto':'East York/East Toronto',
                                             'MississaugaCanada Post Gateway Processing Centre':'Mississauga'})

In [3]:
df

    Postal Code  ...                                       Neighborhood
0           M3A  ...                                          Parkwoods
1           M4A  ...                                   Victoria Village
2           M5A  ...                          Regent Park, Harbourfront
3           M6A  ...                   Lawrence Manor, Lawrence Heights
4           M7A  ...                      Ontario Provincial Government
..          ...  ...                                                ...
98          M8X  ...      The Kingsway, Montgomery Road, Old Mill North
99          M4Y  ...                               Church and Wellesley
100         M7Y  ...                                     Enclave of M4L
101         M8Y  ...  Old Mill South, King's Mill Park, Sunnylea, Hu...
102         M8Z  ...  Mimico NW, The Queensway West, South of Bloor,...

[103 rows x 3 columns]

In [4]:
df.groupby(['Postal Code']).first()

                         Borough                                       Neighborhood
Postal Code
M1B                  Scarborough                                     Malvern, Rouge
M1C                  Scarborough             Rouge Hill, Port Union, Highland Creek
M1E                  Scarborough                  Guildwood, Morningside, West Hill
M1G                  Scarborough                                             Woburn
M1H                  Scarborough                                          Cedarbrae
...                          ...                                                ...
M9N                         York                                             Weston
M9P                    Etobicoke                                          Westmount
M9R                    Etobicoke  Kingsview Village, St. Phillips, Martin Grove ...
M9V                    Etobicoke  South Steeles, Silverstone, Humbergate, Jamest...
M9W          Etobicoke Northwest  Clairville, Humberwood, Woodbine Downs, West H...

[103 rows x 2 columns]

The new Wiki link already has nieghborhood merged according to Postal Code and Borough

In [5]:
len(df['Postal Code'].unique())

103

# Part 2

In [6]:
!pip install geocoder

Collecting geocoder
  Downloading https://files.pythonhosted.org/packages/4f/6b/13166c909ad2f2d76b929a4227c952630ebaf0d729f6317eb09cbceccbab/geocoder-1.38.1-py2.py3-none-any.whl (98kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 102kB 4.8MB/s
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from geocoder) (0.16.0)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from geocoder) (7.1.2)
Collecting ratelim
  Downloading https://files.pythonhosted.org/packages/f2/98/7e6d147fd16a10a5f821db6e25f192265d6ecca3d82957a4fdd592cad49c/ratelim-0.1.6-py2.py3-none-any.whl
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from geocoder) (1.15.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from geocoder) (2.23.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ratelim->geocoder) (4.4.2)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->geocoder) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->geocoder) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->geocoder) (2020.12.5)
Installing collected packages: ratelim, geocoder
Successfully installed geocoder-1.38.1 ratelim-0.1.6

Import geocoder lib to fetch latitude and longitude

In [7]:
import geocoder

geocoder wasn't working that's why using csv file given in the course

In [12]:
filepath = '/content/Geospatial_Coordinates.csv'

In [13]:
df_geo = pd.read_csv(filepath)
df_geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

Checking dtypes of our columns

In [14]:
df_geo.dtypes

Postal Code     object
Latitude       float64
Longitude      float64
dtype: object

In [15]:
df.dtypes

Postal Code     object
Borough         object
Neighborhood    object
dtype: object

Shapes of both our Dataframes

In [16]:
df.shape

(103, 3)

In [17]:
df_geo.shape

(103, 3)

Joining both df's and doing some cleaning

In [18]:
df = df.join(df_geo.set_index('Postal Code'), on='Postal Code')
df

    Postal Code                Borough  ...   Latitude  Longitude
0           M3A             North York  ...  43.753259 -79.329656
1           M4A             North York  ...  43.725882 -79.315572
2           M5A       Downtown Toronto  ...  43.654260 -79.360636
3           M6A             North York  ...  43.718518 -79.464763
4           M7A           Queen's Park  ...  43.662301 -79.389494
..          ...                    ...  ...        ...        ...
98          M8X              Etobicoke  ...  43.653654 -79.506944
99          M4Y       Downtown Toronto  ...  43.665860 -79.383160
100         M7Y  East Toronto Business  ...  43.662744 -79.321558
101         M8Y              Etobicoke  ...  43.636258 -79.498509
102         M8Z              Etobicoke  ...  43.628841 -79.520999

[103 rows x 5 columns]

In [19]:
df = df.reset_index()

In [20]:
df.drop(['index'], axis = 'columns', inplace = True)

In [21]:
# df = df.set_index('level_0')

In [22]:
df.head()

  Postal Code           Borough  ...   Latitude  Longitude
0         M3A        North York  ...  43.753259 -79.329656
1         M4A        North York  ...  43.725882 -79.315572
2         M5A  Downtown Toronto  ...  43.654260 -79.360636
3         M6A        North York  ...  43.718518 -79.464763
4         M7A      Queen's Park  ...  43.662301 -79.389494

[5 rows x 5 columns]

In [23]:
df = df.rename(index = {'level_0' : 'index'})

In [24]:
df.index.name = 'index'

In [25]:
df.head()

      Postal Code           Borough  ...   Latitude  Longitude
index                                ...
0             M3A        North York  ...  43.753259 -79.329656
1             M4A        North York  ...  43.725882 -79.315572
2             M5A  Downtown Toronto  ...  43.654260 -79.360636
3             M6A        North York  ...  43.718518 -79.464763
4             M7A      Queen's Park  ...  43.662301 -79.389494

[5 rows x 5 columns]

In [26]:
df.shape

(103, 5)